section.hero {
  min-height: 100svh;
  /* background-image: url("/images/cabin-5.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */

  display: grid;
  align-items: last baseline;
  justify-content: end;
  position: relative;
}

section.hero h1 {
  padding-inline: 5vw;
  z-index: 1;
  filter: blur(10px);
  margin-block-end: calc(3vw + 2rem);
  opacity: 0;
  transform: translateY(50px);
}
