.select {
  --option-padding: 4px;
  position: relative;

  display: flex;
  overflow: hidden;
}

.select[data-direction="vertical"] {
  --flag-width: 40px;
  width: var(--flag-width);
  max-height: calc((var(--flag-width) * 2 / 3) + 3px);
  transition: max-height 0.4s ease-in-out;
  flex-direction: column;
  position: absolute;
  left: -50px;
  top: 0;
}

.select[data-direction="horizontal"] {
  --flag-height: 40px;
  height: calc(var(--flag-height) - 1);
  flex-direction: row;
  max-width: calc((var(--flag-height) * 3 / 2) - 10px);
  overflow: hidden;
  transition: max-width 0.4s ease-in-out;
}

.select[data-direction="horizontal"] > * {
  flex-shrink: 0;
}

.select[data-direction="horizontal"] .flag {
  width: 40px;
  /* height: auto; */
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.select[data-direction="vertical"].open {
  max-height: 500px;
}
.select[data-direction="horizontal"].open {
  max-width: 500px;
}

.select .option {
  padding: var(--option-padding);
  order: 2;
}

img.flag {
  /* width: var(--flag-width); */
  aspect-ratio: 3/2;
  object-fit: cover;
}

.select .active {
  border: 1px solid var(--accentColor);
  order: 1;
}
