h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
  font-family: "Galter", serif;
  letter-spacing: 0.06em;
}

h1 {
  /* min: 130px max: 220px */
  font-size: clamp(8.125rem, 5.769vw + 6.827rem, 13.75rem);
  line-height: 1;
  font-weight: 400;
}
h2 {
  /* min: 68px  max: 92px */
  font-size: clamp(4.25rem, 1.538vw + 3.904rem, 5.75rem);
  line-height: 1.1;
  word-spacing: 7px;
}

h3 {
  /* min: 50px max: 78px */
  font-size: clamp(3.125rem, 1.795vw + 2.721rem, 4.875rem);
}

h4 {
  /* min: 40px max: 48px */
  font-size: clamp(2.5rem, 0.513vw + 2.385rem, 3rem);
}
