.faqs-section {
  background-color: var(--lightColor);
  color: var(--darkColor);

  & h2 {
    margin-block-end: 2rem;
  }

  & ul {
    padding-inline-start: 2rem;
  }
}

.faqs-container {
  padding-inline-start: 2rem;
}

.faq-input {
  display: none;
}

.faq-label {
  font-size: clamp(1.625rem, 0.255vw + 1.569rem, 1.875rem);
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }
}

.faq-wrapper:not(:last-child) {
  margin-block-end: 1.2rem;
}

div.faq-answer {
  max-width: 55ch;
  height: 0;
  interpolate-size: allow-keywords;
  overflow: clip;
  transition: all 0.5s ease-in-out;
}

.faq-wrapper:has(.faq-input:checked) div.faq-answer {
  height: auto;
}

.faqs-section ul {
  padding: 0;
  /* min:20px max: 23px */
  font-size: clamp(1.25rem, 0.191vw + 1.208rem, 1.438rem);
  padding: 0.5rem 0 0 2rem;

  & li::marker {
    color: var(--accentColor);
  }
}

@media screen and (width < 800px) {
  .faqs-section h2 {
    margin-block-end: 1.5rem;
  }
  .faqs-container {
    padding-inline-start: 1rem;
  }
}

@media screen and (width < 600px) {
  .faqs-section h2 {
    margin-block-end: 1rem;
  }
  .faqs-container {
    padding-inline-start: 0;
  }
}
