:root {
  /* colors */
  --lightColor: #f9f6e6;
  /* --darkColor: oklch(24.166% 0.02651 231.085); */
  --darkColor: oklch(32.607% 0.00973 164.545);
  --lightDarkColor: oklch(from var(--darkColor) calc(l/2 + 0.3) c h);
  --lightDarkColorTwo: oklch(from var(--darkColor) calc(l/2 + 0.4) c h);
  --accentColor: oklch(75.271% 0.15687 73.799);
  --accentDarkerColor: oklch(from var(--accentColor) l calc(c/2) h);

  --scroll-padding-top: 124px;

  /* burger menu */
  --bar-height: 4px;
  --bar-width: 25px;
  --gap: 4px;
  --animation-timing: 300ms ease-in-out;
  --burger-height: calc(var(--bar-height) * 3 + var(--bar-height) * 2);
}

@font-face {
  font-family: "Cabin-Regular";
  src: url("/fonts/Cabin-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rosehot";
  src: url("/fonts/Rosehot.ttf") format("truetype");
}

@font-face {
  font-family: "Blinds-Audience";
  src: url("/fonts/Blinds-Audience.ttf") format("truetype");
}

@font-face {
  font-family: "BrownRosemary";
  src: url("/fonts/BrownRosemary.ttf") format("truetype");
}

@font-face {
  font-family: "Galter";
  src: url("/fonts/Galter.ttf") format("truetype");
}
html {
  background-color: rgb(25, 35, 39);
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding-top);

  interpolate-size: allow-keywords;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:not(h1, h2, h3, h4, h5) {
  font-family: "Cabin-Regular", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.layout {
  --padding-inline: 1.8rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;
  --images-max-width: 1600px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.layout > * {
  grid-column: content;
}

.layout > .breakout {
  grid-column: breakout;
}

.layout > .full-width {
  grid-column: full-width;
}
.section {
  padding-block-start: 8rem;
  padding-block-end: 6rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (width < 1200px) {
  .layout {
    --padding-inline: 1.5rem;
  }
  .section {
    padding-block: 6rem;
  }
}

@media screen and (width < 600px) {
  .layout {
    --padding-inline: 1.2rem;
  }
  .section {
    padding-block-start: 5rem;
    padding-block-end: 2rem;
  }
}
